:root {
    --background-color: #161616;
    --first-plan-color: #363636;
    --secundary-text: #A7A6A6;
    --primary-text: #EEEEEE;
    --red-bytebite: #c90a02;
    --font-family-title: 'Oswald', sans-serif;
    --font-family-subtitle: 'Roboto', sans-serif;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;

}

body {
    background-color: var(--background-color);
}



.side-menu {
    position: fixed;
    background: #f7f7f7;
    width: 15vw;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    box-shadow: 4px 4px 4px 0 rgba(0, 0, 0, 0.2);
    top: 0;
    

}

.side-menu .brand-nome {

    height: 10vh;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 160px;

}

.side-menu li {
    font-size: 20px;
    padding: 15px 30px;
    color: rgb(0, 0, 0);
    align-items: center;
    display: flex;

}

.side-menu li:hover {
    background: #80808037;
    color: black;
}

#pad_img {
    margin-right: 10px;
}

/* */

/*header + navbar */
/* .menu-content {

    background-color: #f7f7f7;
    position: fixed;
    top: 0;
    right: 0;
    width: 80vw;
    height: 10vh;
    box-shadow: 0.3px 0.3px 0.3px rgba(25, 25, 25, 0.447)   
}



.menu-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 10%;
} */

.container {
    position: absolute;
    right: 0;
    width: 90%;
    margin-right: 30px;
    
    /* background: #5F818A; */
}

#logo {
    width: 150px;
    height: 150px;
    align-items: center;
    display: flex;
}

.page--title {
    font-family: 'Oswald', sans-serif;
    font-size: 30px;
    text-transform: uppercase;
    width: 96%;
    text-align: end;
    color: #c3c1c1;
}

/* titulo */
#section_navbar {
    font-family: 'Oswald', sans-serif;
    margin-top: 90px;
    width: 100%;
    height: 50px;
    color: var(--secundary-text);
}

/* navegação */
.navigation--bar {
    display: flex;
    width: 28%;
    justify-content: space-between;
    margin-left: 3%;
    color: var(--secundary-text);

}

.navigation--bar a {
    text-decoration: none;
    color: var(--secundary-text);
    font-family: var(--font-family-subtitle);
    font-weight: bold;
}

.active {
    height: 30px;
    border-bottom: 3px solid;
    border-color: #c90a02;
    border-radius: 2px;
}

.navbar--item {
    font-size: 16px;
}

.menu ul {
    list-style: none;
    display: flex;
}

.menu ul li a {
    display: block;
    font-size: 1.2rem;
    padding: 2rem;
    position: relative;
    font-weight: 600;
    font-family: 'Roboto', sans-serif;
}

a {
    text-decoration: none;
    color: black;
    font-family: 'Roboto-bold', sans-serif;
}

.menu ul li a::after {
    content: '';
    position: absolute;
    bottom: 1.7rem;
    left: 50%;
    width: 0%;
    height: 0.1rem;
    background-color: black;
    transition: all 300ms ease-in-out;
}

.menu ul li a:hover::after {
    width: 50%;
    left: 25%;
}

/* kpis */
.kpis {
    width: 80%;
    margin: auto;
    margin-top: 2.5rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.kpi {
    border: 1px solid var(--secundary-text);
    width: 10em;
    height: 8em;
    display: flex;
    flex-direction: column;
    text-align: center;
    border-radius: 10px;
    color: var(--primary-text);
    font-weight: bold;
    font-family: var(--font-family-subtitle);
    justify-content: space-around;
}
.kpiruim {
    color: red;
}
.kpiboa {
    color: rgb(26, 200, 26);
}
.datakpi span {
    font-size: 30px;
}
.alerta{
    border-radius: 10px;
    width: 17em;
    height: 8em;
    border: 1px solid var(--secundary-text);
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-family: var(--font-family-subtitle);
    text-align: center;
    font-weight: bold;
}
.alerta img{
    width: 90px;
    height: 90px;
}
.btnAlert {
    background-color: var(--red-bytebite);
    color: var(--primary-text);
    font-weight: bold;
    width: 100px;
    border: none;
    border-radius: 10px;
    height: 25px;
    margin-top: 10px;
}

.selecionarMaquina {
    margin-top: 2em;
    display: flex;
    justify-content: center;
}

.escolhaTotem {
    background-color: #363636;
    border: solid 2px var(--secundary-text);
    border-radius: 10px;
    height: 3em;
    width: 11em;
    text-align: center;
    font-family: var(--font-family-subtitle);
    font-size: 16px;
    font-weight: bold;
    color: var(--primary-text);
}

.areaGrafico {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    padding: 5px;
    height: 30em;
}

#dataJanelas{
    margin: 0px;
    color: green;
    font-family: var(--font-family-title);
    font-size: 30px;
    font-weight: bold;
}
.areaJanelas {
    height: 10em;
    width: 100%;
    border: 2px solid var(--primary-text);
}
.areaGraficoRam{
    height: 30em;
    margin-top: 36.5px;
}
.areaGraficoJanelas{
    height: 30em;
    margin-top: 36.5px;
}

.grafico {
    height: 12em;
    width: 24em;
    background-color: #1b1a1a;
    border: solid 1px var(--secundary-text);
    border-radius: 10px;
}

.grafico1 {
    height: 12em;
    width: 24em;
    background-color: #1b1a1a;
    border: solid 1px var(--secundary-text);
    border-radius: 10px;
    margin-right: 10px;

}

.graficoRam {
    height: 12em;
    width: 24em;
    background-color: #1b1a1a;
    border: solid 1px var(--secundary-text);
    border-radius: 10px;
}

.graficoJanelas{
    height: 12em;
    width: 24em;
    background-color: #1b1a1a;
    border: solid 1px var(--secundary-text);
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.temp1 {
    display: flex;
    height: 320px;
    width: 640px;
    border: solid 1px var(--secundary-text);
    justify-content: center;
    align-items: center;
    font-size: 90px;
    color: rgb(26, 200, 26);
}

.dadosTotem{
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}
.hardware{
}

.hardware h1 {
    text-align: center;
    font-size: 24px;
    color: var(--primary-text);
    margin-bottom: 10px;
    margin-top: 20px;
    font-family: var(--font-family-subtitle);
}

.selecionarMaquina {
    margin-top: 1em;
    display: flex;
    justify-content: center;
}

.escolhaTotem {
    border: solid 2px var(--secundary-text);
    height: 2.5em;
    width: 9em;
    text-align: center;
    font-family: var(--font-family-subtitle);
    font-size: 16px;
    font-weight: bold;
    background-color: #000000;
    color: var(--primary-text);
}