:root {
  --background-color: #000000;
  --first-plan-color: #363636;
  --secundary-text: #A7A6A6;
  --primary-text: #EEEEEE;
  --red-bytebite:#c90a02;
  --font-family-title:'Oswald', sans-serif;
  --font-family-subtitle: 'Roboto', sans-serif;
}
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;

}
body{
  background-color: var(--background-color);
  width: 100%;
}
/* navbar */
.menu-content {

  /* background: linear-gradient(rgba(255, 255, 255, 0.1),rgba(255, 255, 255, 0.010),rgba(255, 255, 255, 0.01));
  backdrop-filter: blur(3px); */

  background-color: #f7f7f7;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  width: 100%;
  height: 10%;
  z-index: 99;
  box-shadow: 0.3px 0.3px 0.3px rgba(25, 25, 25, 0.447);

}

.menu-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 10%;
}

#logo {
  width: 150px;
  height: 150px;
  align-items: center;
  display: flex;
}
.page--title{
  color: var(--primary-text);
  font-family: var(--font-family-title);
  font-size: 30px;
  text-transform: uppercase;
  width: 96%;
  text-align: end; 
}

/* titulo */
#section_navbar{
  margin-top: 90px;
  width:100%;
  height: 50px;
}
/* navegação */
.navigation--bar {
  display: flex;
  width: 28%;
  justify-content: space-between;
  margin-left: 3%;
}
.navigation--bar a{
  text-decoration: none;
  color: var(--secundary-text);
  font-family: var(--font-family-subtitle);
  font-weight: bold;
}
.active{
  height: 30px;
  border-bottom: 3px solid;
  border-color: #c90a02;
  border-radius: 2px;
}
.navbar--item {
  font-size: 16px;
}

/* kpis */
.kpis{
  width: 50%;
  margin: auto;
  margin-top: 1.5em;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.kpi{
  border: 1px solid var(--secundary-text);
  width: 10em;
  height: 8em;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
  color: var(--primary-text);
  font-weight: bold;
  font-family: var(--font-family-subtitle);
}
.selecionarMaquina{
  margin-top: 2em;
  display: flex;
  justify-content: center;
}

.escolhaTotem{
  border: solid 2px var(--secundary-text);
  height: 3em;
  width: 11em;
  text-align: center;
  font-family: var(--font-family-subtitle);
  font-size: 16px;
  font-weight: bold;
  background-color: #000000;
  color: var(--primary-text);
}
