@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@700&display=swap');

:root {
    --primary-color: #DA291C;
    --second-color: #c90a02;
    --bg-color: #f7f7f7;
    --gap: 6rem;
    --font-inter: Roboto;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;

}

html {
    scroll-behavior: smooth;
}

.main-bg {
    background-color: #f7f7f7;
    background-image: url("../assets/background/layered-waves-haikei-invert.svg");
    background-size: cover;
    background-position: center center;
}

.main-bg-invert {
    background-color: #f7f7f7;
    background-image: url("../assets/background/layered-waves-haikei-invert.svg");
    background-size: cover;
    background-position: center center;
}

.main-content {
    max-width: 120rem;
    margin: 0 auto;
    padding: var(--gap);
}

.section {
    min-height: 100vh;
}

.sections {
    max-height: 90vh;
}

.menu-spacing {
    height: 10rem;
}

.white-bg {
    background-color: var(--bg-color);
    background-image: url("../assets/background/stacked-waves-haikei.svg");
    background-size: cover;
    background-position: center center;
}

h1 {
    text-transform: uppercase;
    font-family: 'Roboto', sans-serif;
    font-size: 2.6rem;
}

h2 {
    font-size: 6rem;
    margin-bottom: 5rem;
    text-transform: uppercase;
    line-height: 1.2;
}

.menu { 

    /* background: linear-gradient(rgba(255, 255, 255, 0.1),rgba(255, 255, 255, 0.010),rgba(255, 255, 255, 0.01));
    backdrop-filter: blur(3px); */

   background-color: #f7f7f7;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    width: 100%;
    height: 10%;
    z-index: 99;
    box-shadow: 0.3px 0.3px 0.3px rgba(25, 25, 25, 0.447);
}

.menu-content {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-top: 2.2rem;
    width: 100%;
    height: 10%;


}

#logo {
    width: 150px;
    height: 150px;
    align-items: center;
    display: flex;
}

.menu ul {
    list-style: none;
    display: flex;
}

.menu ul li a {
    display: block;
    font-size: 1.2rem;
    padding: 2rem;
    position: relative;
    font-weight: 600;
}

a {
    text-decoration: none;
    color: black;
    font-family: 'Roboto-bold', sans-serif;
}

.menu ul li a::after {
    content: '';
    position: absolute;
    bottom: 1.7rem;
    left: 50%;
    width: 0%;
    height: 0.1rem;
    background-color: black;
    transition: all 300ms ease-in-out;
}

.menu ul li a:hover::after {
    width: 50%;
    left: 25%;
}


.intro-content {
    position: relative;
    display: grid;
    grid-template-columns: 1fr 1.8fr;
    align-items: center;
    gap: var(--gap);
    height: 100vh;
}

.intro-content-invert {
    position: relative;
    display: grid;
    grid-template-columns: 1.6fr 1.2fr;
    align-items: center;
    gap: var(--gap);
    height: 100vh;
}

.intro-text-content {
    display: flex;
    flex-flow: column wrap;
    justify-content: center;

}

.intro-text-content h2 {
    font-size: 2.5rem;
    font-family: 'Roboto-bold', sans-serif;
    margin-bottom: 1rem;
    /* text-transform: uppercase; */
}

.intro-text-content p {
    font-family: 'Roboto', sans-serif;
    font-size: 1.2rem
}

.intro-img {
    display: flex;
    justify-content: center;
    align-items: center
}

.sobre-img {
    display: flex;
    justify-content: center;
    align-items: center
}

.sobre-img img {
    width: 25rem;
    height: 25rem;
    overflow: hidden;
    transition: all 300ms ease in ease-in-out;
}

.sobre-img img:hover {
    transform: translate(-1%, 1%) scale(1.1);
}

.intro-img img {
    max-width: 50%;
    height: auto;

}

.btns {
    background-color: transparent;
    border: #402218 solid 1px;
    width: 180px;
    height: 40px;
    cursor: pointer;
    align-self: flex-end;
    font-size: 18px;
    font-family: 'Roboto';
    margin-top: 20px;
    font-weight: 700;
    color: #402218;
    overflow: hidden;
    box-shadow: 0 0 0 #402218,
                0 0 0 #402218;
    transition: all 0.25s ease-in-out;  
    text-decoration: none;
    text-transform: uppercase;
}

.btns:hover {
    box-shadow: 2px 2px 0 #402218,
                -2px -2px 0 #402218;
    letter-spacing: 0.5px;
    border: transparent  ;
}

.clip {
    clip-path: polygon(25% 0%, 100% 0%, 75% 100%, 0% 100%);
}

.clip-sobre {
    clip-path: polygon(75% 0%, 100% 50%, 75% 100%, 0% 100%, 25% 50%, 0% 0%);
}

.grid-content {
    height: 100vh;
    display: flex;
    flex-flow: column wrap;
    justify-content: center;

}

.grid-text {
    display: grid;
    align-items: center;
    justify-content: center;
    grid-template-columns: repeat(3, 0.3fr);
    gap: var(--gap);
    margin-top: 1rem;
}

.title-sub-title {
    /* margin-bottom: 5rem; */
    text-align: center;
    font-family: 'Roboto', sans-serif;
}


.text-content {
    text-align: center;
    font-family: 'Roboto', sans-serif;
}

.text-content h4 {
    margin-bottom: 0.7rem;
}

.icons-grid {
    height: 3.5rem;
    width: 3.5rem;
    margin-bottom: 1.5rem;
}


.main-footer {
    background-image: url("../assets/background/stacked-waves-haikei.svg");
    color: black;
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: space-around;
    gap: var(--gap);

}

#logo-footer {
    width: 200px;
    height: 200px;
    align-items: center;
    display: flex;
    
}

.footer-box {
    margin-bottom: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-family: 'Roboto', sans-serif;

}

.btn_social {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
   
}

.btn_social ul {
    list-style: none;
}

.icon-footer img {
    height: 2.2rem;
    width: 2.2rem;
    margin-bottom: 0.5rem;
    transition: all 300ms ease in ease-in-out;

}

.icon-footer img:hover {
    transform: translate(-1%, 1%) scale(1.1);
}

/*--------------Cadastro--------------*/

.box {
    background-image: url(../assets/background/layered-waves-haikei.svg);
    width: 100%;
    /* Mude a linha abaixo caso precise mudar o footer */
    height: 100vh;
    display: flex;
    justify-content: center;
}

.box-form {
    margin-top: 150px;
    width: 50vh;
    height: 70vh;
    background-color: #D9D9D9;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}


.form p {
    font-family: var(--font-inter);
    font-size: 17px;
    padding-top: 25px;
    display: flex;
    font-weight: 1000;
}

.form input {
    background: #d9d9d9;
    color: black;
    border: none;
    border-bottom: 1px solid black;
    width: 30vh;
    height: 1.5rem;
    /* box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25); */
}

.box-form .btns{
    width: 110px;
    height: 30px;
    align-self: end;
    margin-bottom: 10px;
    margin-right: 45px;
}


.box-form a {
    color: blue;
    font-style: italic;
    font-size: 16px;
  }


.box-logo {
    margin-top: 150px;
    width: 50vh;
    height: 70vh;
    background-color: #c3c1c1;
    display: flex;
    justify-content: center;
    align-items: center;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
}

.logo img {
    width: 100%;
}

.logo {
    font-family: var(--font-inter);
    font-size: 24px;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}
/*login*/


.form h1 {
  font-family: var(--font-inter);
  font-size: 32px;
  display: flex;
  

  /* para deixar alinhado com os inputs, se mudar o form, pode apagar esse margin */
  /* margin-left: 65px; */
  }

.form a {
  color: blue;
  font-style: italic;
  font-size: 16px;
}

@media only screen and (max-width: 600px){

    .body{
      width: 100%;
    }
  
    .menu{
      width: 100%;
      height: 60px;
      /* border: green solid 3px; */
      box-shadow: 0.3px 0.3px 0.3px rgba(25, 25, 25, 0.447);
      display: flex;
      flex-direction: row-reverse;
      justify-content: space-between;
    }
    .menu-content{
        justify-content: space-between 
    }

    
    .menu ul li a {
        display: block;
        font-size: 0.8rem;
        padding: 2rem;
        position: relative;
        font-weight: 600;
    }
    .main-bg {
        background-position: center;
    }
    .grid-content{
        justify-content: center;
        align-items: center;
        height: 100vh;
    }
    .grid-text {
        gap: 10px;
    }
    .footer-box h4 {
        margin-top: 5px;
    }
    .intro-text-content h2 {
        font-size: 1.5rem;
        margin-left: 20px;
        
    }
    .intro-text-content p{
        font-size: 0.8rem;
        margin-left: 20px;
        text-align: center;
    }
    .intro-text-content{
        align-items: center;
    }
    .text-content p{
        font-size: 14px;
    }
    .intro-img img{
        max-width: 90%;
    }
    .main-content{
        padding: 0;
    }
    .imgtoten2{
        display: none;
    }
    .section {
        min-height: auto;
    }
    .intro-content {
        gap: 2em;
        height: 80vh;
    }
    .intro-content-invert{
        display: flex;
        height: 40vh;
        align-items: center;
        justify-content: center;
    
    }
    .intro-content-invert h2{
        text-align: center;
    }
    .btns {
        align-self: center;
    }
    .main-footer{
        gap: 20px;
    }
    .title-sub-title{
        margin-bottom: 1rem;
    }

    .box{
      /* border: rgb(0, 9, 128) solid 3px; */
     width: 600px;
     background-image: none;
    }
    .form{
      /* border: violet 3px solid; */
      width: 80%;
      /* height: 100px; */
    }
    .box-form{
      /* border: orange 3px solid; */
      height: 80%;
      margin-top: 90px;
    }
  .box-logo{
    display: none;
  }

  .sobre-img{
    display:none;
  }
  .form h1{
    margin-top: 5px;
    font-size: 20px;
    justify-content: center;
  }

  .form p{
    font-size: 14px;
  }

  .box-form button{
    width: 40%;
    height: 2rem;
    margin-top: 1.5rem;
    margin-bottom: 0.8rem;
  }
  
  .box-form{
    border-top-left-radius: 0px;
    border-bottom-left-radius: 0px;
    border-radius: 10px;
  }

  }